.content {
    width: 400px;
    /*height: 200px;*/
    background: #fff;
    /*border: 1px solid #ccc;*/
    text-align: center;
    font-size: 18px;
}

.content .con li {
    margin-top: 20px;
}
.con{
    text-align: center;
}

.price {
    border-top: 1px dashed #ccc;
    width: 300px;
    margin: 0 auto;
    margin-top: 20px;
}

.price_1 {
    margin-top: 20px;
    color: #d70000;
    text-align: center;
}

.Printing {
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    color: #314f99;
    text-align: center;
}