.button-1{
  /* padding: 100%; */
  background-color: cyan;
  background-image: url("./images/gnome.png");
  width: 100px;
  height: 100px;
  display: block; margin-left: auto; margin-right: auto; margin-top: 20px;
}

.top-of-app{
  background-image: url("./images/forgotten-realms-banner.jpg");
  margin-top: 20px;
}

.input-text{
  width: 100%;
  height: 40px;
}

.bottom-of-app{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  height: 40px;
      bottom:0%;
      width: 100%;
      margin-left: -15px;
      margin-bottom: 20px;
}

.spell-icon{
  background-image: url("./images/mage.png");
  float: right;
  width: 35px;
  height: 35px;
}

.

#top-text{
  text-align: center;
}
