#display {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 65px;
  color: red;
  z-index: 999;
}
body {
  background: linear-gradient(to right, #a8c0ff, #4f4386);
}
.word {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    font-size: 22px;
    margin-top: 10ch;
    opacity: 0; 
    animation: fadeIn 0.9s ease-out forwards; 
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
