body {
    background-color: black;
    color: white;
}

h1 {
    font-size: 4em;
    text-align: center;
    color: #ffffff;
    text-shadow: 0 0 5px #ff00ff, 0 0 10px #ff00ff, 0 0 20px #ff00ff, 0 0 30px #ff00ff, 0 0 40px #ff00ff;
}

span {
    font-size: 1.2em;
}
    