.main{
    width: 820px;
    height: 850px;
    /*margin:0 auto;*/
    border: 1px solid #ccc;
}
.n1{
    float: left;
    width: 157px;
    height: 100%;
    border-right:1px solid #ccc ;
    background: #f4f4f4;
}
.n1_1{
    height: 110px;
    line-height: 110px;
    width: 100%;
    border-bottom: 1px solid #ccc;
    text-align: center;
    font-size: 16px;
}
.n1_2{
    height: 221px;
    line-height: 221px;
    width: 100%;
    border-bottom: 1px solid #ccc;
    text-align: center;
    font-size: 16px;
}
.n1_3{
    height: 369px;
    line-height: 369px;
    width: 100%;
    text-align: center;
    font-size: 16px;
}
.n2{
    float: left;
     width: 332px;
    height: 100%;
    border-right:1px solid #ccc ;
}
.n2 ul li{
    height: 36px;
    line-height: 36px;
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #ccc;
}
.n3{
    float: left;
    width: 329px;
    height: 100%;
}
.n3 ul li{
    height: 36px;
    line-height: 36px;
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #ccc;
}