html, body {
  height: 100%;
  width: 100%;
  background-color: #404B53;
  color: #FFFFFF;
  font-family: 'Courier New', Courier, monospace;
}

.dashboard-container {
  height: 100%;
  padding: 40px 0px;
}

.sensor-display {
  border: 3px solid #81D3B7;
  margin: 20px 0px;
  padding: 10px;
  text-align: center;
  min-height: 160px;
  min-width: 160px;
  max-width: 240px;
  box-sizing: border-box;
}

.heartbeat-display {
  border: 3px solid #0EB1D2;
}

.inactive-display {
  border: 3px solid #FF0054;
}

.sensor-display h6 {
  margin: 0px;
}