
@charset "utf-8";

/* CSS Document */
* {
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body,
div,
dl,
dt,
dd,
ol,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
button,
fieldset,
form,
input,
legend,
textarea,
th,
td {
    margin: 0;
    padding: 0;
}

i {
    font-style: normal;
}

li {
    list-style: none
}

.ft12 {
    font-size: 12px;
}

.ft14 {
    font-size: 14px;
}

.ft16 {
    font-size: 16px;
}

.ft18 {
    font-size: 18px;
}

.ft20 {
    font-size: 20px;
}

.cor_0 {
    color: #000;
}

.cor_3 {
    color: #333;
}

.cor_6 {
    color: #666;
}

.cor_9 {
    color: #999;
}

.cor_f {
    color: #fff;
}

.lan {
    color: #1E9FFF;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.fw {
    font-weight: bold;
}

.clearfix {
    overflow: hidden;
    clear: both;
}

.one_out {
    white-space: nowrap;
    -webkit-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
}

.two_out {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.layui-container {
    padding: 0;
}

.main_left {
    border-right: 5px solid #F6F7F9;
    height: 847px;
}

.main {
    background: #fff;
    width: 100%;
    height: auto;
}

.top {
    /*height: 50px;*/
    padding: 0 10px;
    line-height: 50px;
    border-bottom: 1px solid #ebebeb;
    border-top: 1px solid #ebebeb;
}

.top i {
    margin-right: 10px;
}

.top .layui-input {
    display: inline-block;
}

.top label {
    height: 50px;
    line-height: 50px;
    float: left;
}

/*.layui-input,
.layui-btn,
.layui-select {
    height: 30px;
    line-height: 30px;
}
*/
.layui-form-label{
    width: 100px;
}
.delete_btn {
    background: none;
    color: #1890FF;
    border: none;
    cursor: pointer;
}

.goods_list {
    height: 380px;
    overflow-y: scroll;
}

.danjia,
.remarks {
    width: 230px;
}

.numberTd {
    width: 150px;
}

td input,
td textarea {
    width: 200px;
}

.total {
    /*height: 50px;*/
    line-height: 50px;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    background: #f2f2f2;
    padding: 0 10px;
}

.total span {
    color: #F52631;
}

.card_reading {
    background: #1E9FFF;
}

.reading {
    margin-top: 40px;
}

.towbtn {
    text-align: center;
    overflow: hidden;
    padding: 10px 0 20px;
}

.towbtn input {
    padding: 8px 16px;
    background: #1890FF;
    border-radius: 4px;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
}

.towbtn input:last-child {
    background: #fff;
    color: #666;
    border: 1px solid #999;
    box-sizing: border-box;
}

table.reading tr td:nth-child(2n-1) {
    width: 15%
}

table.reading tr td:nth-child(2n) {
    width: 35%
}

table tr th span {
    font-weight: bold;
}

.left_main {
    padding: 10px;
    width: 100%;
}

.left_main #key {
    width: 75%;
    float: left;
    margin-bottom: 10px;
}

.left_main a.mini-button {
    width: 20%;
    float: left;
    margin-left: 5%;
    margin-bottom: 10px;
    border-radius: 2px;
}

.mini-textbox {
    height: 30px;
    border-radius: 2px;
}

.mini-textbox-border {
    border: solid 1px #e6e6e6;
    height: 28px;
}

.mini-textbox-input {
    background: none;
    height: 28px;
    line-height: 28px;
}

.mini-textbox-focus .mini-textbox-border {
    border-color: #c9c9c9 !important;
    border-radius: 2px;
}

.mini-button,
body a:hover.mini-button {
    border: 1px solid #009688;
    background: #009688;
    color: #fff;
    line-height: 28px;
}

.jiajian {
    border: solid 1px #e6e6e6;
    border-radius: 4px;
    width: 122px;
    overflow: hidden;
    text-align: center;
    line-height: 30px;
}

.jiajian input {
    width: 60px;
    float: left;
    line-height: 30px;
    height: 30px;
    border: none;
    text-align: center;
    border-left: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
}

.jiajian .jian {
    display: block;
    text-align: center;
    width: 30px;
    float: left;
    cursor: pointer;
}

.jiajian .jia {
    display: block;
    text-align: center;
    width: 30px;
    float: right;
    cursor: pointer;
}

/*弹框-开始*/
.mask_box {
    display: none;
}

.mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    z-index: 100;
}

.box {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 348px;
    margin: -200px 0 0 -174px;
    background: #fff;
    border-radius: 5px;
    z-index: 101;
}

.box_top {
    height: 45px;
    line-height: 45px;
    background: #999;
    color: #fff;
    padding: 0 10px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px 5px 0 0;
}

.box_block {
    border-bottom: 1px solid #eaeaea;
    padding: 0 16px;
    overflow: hidden;
}
.box_block2 {
    height: 50px;
    line-height: 50px;
}

.block_left {
    width: 33%;
    float: left;
    line-height: 50px;
    text-align: left;
    /* padding-right: 10px; */
    font-size: 16px;
    height: 50px;

}
.box_block1 .block_left{
    height: 50px;
    line-height: 50px;
}
.box_block2 .block_left{
    height: 50px;
    line-height: 50px;
}
.box_block1 .block_right input{
    font-weight: bold;
    color: red;
    font-size: 20px;
    height: 50px;
    line-height: 50px;
}
.box_block2 .block_right input{
    font-weight: bold;
    color: red;
    font-size: 20px;
    height: 50px;
    line-height: 50px;
}
.block_left input {
    float: left;
    margin: 19px 0 0 10px;
}

.block_right {
    width: 65%;
    float: left;
    line-height: 50px;
    height: 50px;
}

.box_block1 {
    height: 50px;
    line-height: 50px;
}

.remark_mess {
    margin: 0 10px;
    overflow: hidden;
}

.bot {
    text-align: center;
    overflow: hidden;
    padding: 10px 0 20px;
}

.bot input {
    width: 60px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    background: #1890FF;
    border-radius: 4px;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
}

.bot input:nth-child(2) {
    background: #fff;
    color: #666;
    border: 1px solid #999;
    box-sizing: border-box;
}

/*tree*/
#tree1 {
    height: 730px;
    overflow-y: scroll;
    margin-top: 10px;
}

/*弹框-结束*/
@media screen and (min-width: 320px) and (max-width: 375px) {
    .box_block {
        padding: 0 5px;
    }

    .main_left {
        height: auto;
    }

    .box {
        left: 2%;
        width: 96%;
        height: 500px;
        margin: -275px 0 0;
    }

    .remark_mess {
        margin: 10px 10px 0;
        overflow: hidden;
    }

    .block_left {
        line-height: 40px;
    }

    .block_right {
        line-height: 40px;
    }

    .box_block1 {
        height: 40px;
        line-height: 40px;
    }

    .block_left input {
        margin: 14px 0 0 10px;
    }

    .block_right input {
        margin-top: 5px;
    }
}

@media screen and (min-width: 376px) and (max-width: 414px) {
    .main_left {
        height: auto;
    }

    .box {
        left: 5%;
        width: 90%;
        height: 500px;
        margin: -300px 0 0;
    }

    .remark_mess {
        margin: 10px 10px 0;
        overflow: hidden;
    }

    .block_left {
        line-height: 40px;
    }

    .block_right {
        line-height: 40px;
    }

    .box_block1 {
        height: 40px;
        line-height: 40px;
    }

    .block_left input {
        margin: 14px 0 0 10px;
    }

    .block_right input {
        margin-top: 5px;
    }
}