.recharge{
	width: 800px;
	height: 640px;
	/*background: red;*/
	margin:0 auto;
}

.recharge .m1{
	padding-left: 73px;
}
.recharge .m1 .layui-form-label{
	margin:0;
	padding: 0;
	width: 100px;
	line-height: 38px;
	height: 38px;
	text-align: left;
}
.recharge .m1 .layui-input-block{
	margin-left: 100px;
}

.recharge .m1 ul{
	margin-top: 10px;
	overflow: hidden;
}
.recharge .m1 ul li{
	float: left;
	width: 104px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: #ececec;
	color: #000;
	margin-right: 8px;
	border-radius: 5px;
	cursor: pointer;
	/*-moz-box-shadow:0px 0px 2px #333333; -webkit-box-shadow:0px 0px 2px #333333; box-shadow:0px 0px 2px #333333;*/

}
.recharge .m1 ul li.cur{
	background: #f5f2f2;
	color: #5f58e8;
}
button{
	padding-left: 73px;
}