.recharge {
    width: 1024px;
    height: 400px;
    /*background: red;*/
    /*margin: 0 auto;*/
}

.content2 {
    display: none;
}

.bg {
    width: 1024px;
    height: 41px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(109, 104, 104);
    opacity: 0.8;
}

.top {
    overflow: hidden;
    padding-bottom: 3px;
    position: relative;
    height: 38px;
    background: #000;
    opacity: 0.8;
}

.top ul {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
}

.top ul li {
    width: 102px;
    height: 38px;
    float: left;
    line-height: 38px;
    text-align: center;
    background: #e3e3e3;
    color: #000;
    margin-right: 3px;
    border-radius: 5px;
    cursor: pointer;
}

.top ul li.cur {
    background: #fff;
    color: #5f58e8;
}

/*.recharge h1{
    padding-left: 73px;
}*/
.recharge .tab {
    height: 56px;
    background: #cccccc;
}

.recharge .tab ul {
    overflow: hidden;
    padding-top: 10px;
}

.recharge .tab ul li {
    float: left;
    width: 120px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    background: #e3e3e3;
    color: #000;
    margin-right: 3px;
    border-radius: 5px;
    cursor: pointer;
    /*-moz-box-shadow:0px 0px 2px #333333; -webkit-box-shadow:0px 0px 2px #333333; box-shadow:0px 0px 2px #333333;*/

}


.recharge .tab ul li.cur {
    background: #ffffff;
    color: #5f58e8;
}

button {
    padding-left: 73px;
}

.con {
    width: 1000px;
    height: 198px;
    background: #fff;
    margin-top: 10px;
}

.content2 .con {
    height: 250px;
}

.con ul.spc {
    overflow: hidden;
    padding-top: 60px;
}

/*.con ul li{
    float: left;
    width: 88px;
    height: 28px;
    background: yellow;
    margin-left: 20px;
    margin-bottom: 10px;
    cursor: pointer;
    line-height: 28px;
    text-align: center;
}*/
.classify ul li {
    float: left;
    width: 102px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    background: #ececec;
    color: #000;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 3px;
    margin-bottom: 3px;
}

.classify ul li.cur {
    background: #f5f2f2;
    color: #5f58e8;
}

.classify_cn {
    overflow: hidden;
    margin-top: 10px;
    width: 960px;
}

.cn {
    display: none;
}

.cn1 {
    display: block;
}

.cn .classify_cn ul li {
    float: left;
    width: 100px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    cursor: pointer;
    background: #f4f4f4;
    border: 1px solid #ccc;
    color: #6e6e6e;
    margin-right: 3px;
    margin-bottom: 3px;
}

.cn .classify_cn ul li.cur {
    background: #fff;
    color: #325099;
    border: 1px solid #325099;
}

.classify_cn ul {
    display: none;
}

.classify {
    overflow: hidden;
    width: 960px;
}

.recharge .m1 {
    padding-left: 0 !important;
    text-align: center;
}

.peripheral {
    margin-left: 40px;
    height: 100px;
}

.peripheral .layui-form {
    width: 100%;
}

.peripheral .layui-form-label {
    clear: both;
    width: 190px;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
}

.peripheral .layui-form-item {
    width: 190px;
    float: left;
    clear: none;
    margin-right: 36px;
}

.item1 {
    float: left;
    clear: none;
}

.item2 {
    float: left;
    clear: none;
}

.item3 {
    float: left;
    clear: none;
    margin-left: 40px;
    font-size: 16px;
}

.item3 div {
    float: left;
    line-height: 38px;
    margin-right: 10px;
}

.layui-form-radio {
    margin-right: 0;
}

.pay {
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 12px;
}