/* Ion.RangeSlider, Round Skin
// css version 2.2.0
// © Denis Ineshin, 2014           https://github.com/IonDen
// © Veaceslav Grimalschi, 2018    https://github.com/grimalschi
// ===================================================================================================================*/

/* =====================================================================================================================
// Skin details */

.irs {
    height: 50px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.irs-with-grid {
    height: 67px;
}

.irs-line {
    top: 36px;
    height: 4px;
    background: #DEE4EC;
    border-radius: 16px;
}

.irs-bar, .irs-bar-edge {
    top: 36px;
    height: 4px;
    background: #006CFA;
}
.irs-bar-edge {
    width: 12px;
}

.irs-shadow {
    height: 4px;
    top: 40px;
    background: #DEE4EC;
    opacity: 0.5;
}

.lt-ie9 .irs-shadow {
    filter: alpha(opacity=25);
}

.irs-slider {
    top: 35px;
    width: 16px;
    height: 16px;
    margin-top: -10px;
    border: 4px solid #006CFA;
    background: white;
    border-radius: 27px;
    box-shadow: 0 1px 3px rgba(0,0,255,0.3);
    cursor: pointer;
    box-sizing: content-box;
}

.irs-slider.state_hover, .irs-slider:hover {
    background: #f0f6ff;
}

.irs-min, .irs-max {
    color: #333;
    font-size: 14px;
    top: 0;
    padding: 3px 5px;
    background: rgba(0,0,0,0.1);
    border-radius: 3px;
    line-height: 1;
}

.irs-from, .irs-to, .irs-single {
    color: #fff;
    font-size: 14px;
    text-shadow: none;
    padding: 3px 5px;
    background: #006CFA;
    border-radius: 3px;
    line-height: 1;
}
.irs-from:after, .irs-to:after, .irs-single:after {
    position: absolute;
    display: block;
    content: "";
    bottom: -6px;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -3px;
    overflow: hidden;
    border: 3px solid transparent;
    border-top-color: #006CFA;
}

.irs-grid {
    height: 27px;
}
.irs-grid-pol {
    background: #DEE4EC;
}

.irs-grid-text {
    bottom: 4px;
    color: silver;
    font-size: 12px;
}

