.content{
	width: 1024px;
	height: 200px;
	margin:0 auto;
}
.layui-input, .layui-textarea{
	width: 300px;
	height: 38px;
}
.layui-form-label{
	width: 100px;
	padding: 0;
	height: 38px;
	line-height: 38px;
	text-align: right;
	font-size: 16px;
}
.layui-form{
	width: 427px;
	margin:0 auto;
	margin-top: 60px;
}
.con{
	margin-top: 40px;
}
.con ul li{
	float: left;
	width: 25%;
}
.content1 .con ul li{
	float: left;
	width: 50%;
}
.content{
	margin-top: 80px;
}
.con ul li span.sp1{
	margin-bottom: 10px;
	font-size: 24px;
	display: block;
	color: #ccc;
	font-weight: normal;
}
.con ul li span.sp2{
	margin-bottom: 10px;
	font-size: 24px;
	display: block;
	color: #3baf96;
	font-weight: bold;
}