/* Ion.RangeSlider, Square Skin
// css version 2.2.0
// © Denis Ineshin, 2014           https://github.com/IonDen
// © Veaceslav Grimalschi, 2018    https://github.com/grimalschi
// ===================================================================================================================*/

/* =====================================================================================================================
// Skin details */

.irs {
    height: 45px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.irs-with-grid {
    height: 62px;
}

.irs-line {
    top: 31px;
    height: 4px;
    background: #DEDEDE;
}

.irs-bar, .irs-bar-edge {
    top: 31px;
    height: 4px;
    background: black;
}
.irs-bar-edge {
    width: 8px;
}

.irs-shadow {
    height: 2px;
    top: 37px;
    background: #DEDEDE;
}

.irs-slider {
    top: 30px;
    width: 10px;
    height: 10px;
    margin-top: -5px;
    border: 3px solid black;
    background: white;
    cursor: pointer;
    box-sizing: content-box;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.irs-slider.state_hover, .irs-slider:hover {
    background: #f0f0f0;
}

.irs-min, .irs-max {
    color: #333;
    font-size: 13px;
    top: 0;
    padding: 3px 4px;
    background: rgba(0,0,0,0.1);
    line-height: 1;
}

.irs-from, .irs-to, .irs-single {
    color: #fff;
    font-size: 13px;
    text-shadow: none;
    padding: 3px 4px;
    background: black;
    line-height: 1;
}

.irs-grid {
    height: 27px;
}
.irs-grid-pol {
    background: #DEDEDE;
}

.irs-grid-text {
    bottom: 4px;
    color: silver;
    font-size: 11px;
}
