
@charset "utf-8";

/* CSS Document */
* {
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body,
div,
dl,
dt,
dd,
ol,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
button,
fieldset,
form,
input,
legend,
textarea,
th,
td {
    margin: 0;
    padding: 0;
}

i {
    font-style: normal;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
li {
    list-style: none
}

.ft12 {
    font-size: 12px;
}

.ft14 {
    font-size: 14px;
}

.ft16 {
    font-size: 16px;
}

.ft18 {
    font-size: 18px;
}

.ft20 {
    font-size: 20px;
}

.cor_0 {
    color: #000;
}

.cor_3 {
    color: #333;
}

.cor_6 {
    color: #666;
}

.cor_9 {
    color: #999;
}

.cor_f {
    color: #fff;
}

.lan {
    color: #1E9FFF;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.fw {
    font-weight: bold;
}

.clearfix {
    overflow: hidden;
    clear: both;
}

.one_out {
    white-space: nowrap;
    -webkit-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
}

.two_out {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.home{
    width: 1024px;
    overflow: hidden;
    background: #f2f2f2;
    margin:0 auto;
    background: url(../../images/bg.png) no-repeat center top;
}
.rh{
    margin-left: 60px;
    margin-top: 60px;
}
.layui-btn-normal{
    background: none;
}
.layui-elem-quote{
    margin-top: 154px;
}
.home_h{
    width: 638px;
    margin:0 auto;
    overflow: hidden;
}
.layui-btn-lg{
    width: 240px;
    height: 117px;
    text-align: center;
    padding: 0;
    font-size: 30px;
    font-weight: bold;
    float: left;
    margin-right: 28px;
    margin-bottom: 19px;
}
.layui-elem-quote{
    border-left: 5px solid #000;
}
.home_l .layui-btn{
    background: #000;
}
.layui-btn+.layui-btn{
    margin-left: 0;
}
.information h1{
    text-align: center;
    margin-top:20px;
}
.information span{
    display: block;
    width: 100%;
    font-size: 20px;
    padding-left: 20px;
    margin-top: 30px;
}