.recharge{
	width: 500px;
	height: 200px;
	margin:0 auto;
}
.layui-input, .layui-textarea{
	width: 328px;
	height: 38px;
}
.layui-form-label{
	width: 100px;
	padding: 0;
	height: 38px;
	line-height: 38px;
	text-align: right;
	font-size: 16px;
}
.layui-form{
	width: 427px;
	margin:0 auto;
	margin-top: 60px;
}
.layui-form-select dl{
	    max-height: 186px;
}