html,body{
-moz-user-select: none;
-khtml-user-select: none;
user-select: none;
}
.computer{
	width: 1640px;
	height: 900px;
	/*background: red;*/
	position: relative;
	margin:0 auto;
}
.computer ul.u_num1{
	overflow: hidden;
}
.computer ul.u_num1 li{
	width: 75px;
	height: 150px;
	background: #e4e6e2;
	float: left;
	margin-right: 9px;
}
.computer ul.u_num1 li.n16{
	width: 380px;
	margin-right: 0;
}
.computer ul.u_num1 li span.a1{
	margin-top: 17px;
}
.computer ul.u_num1 li span{
	width: 45px;
	height: 22px;
	background: #FFF;
	text-align: center;
	border: 1px solid black;
	line-height: 22px;
	color: black;
	margin:0 auto;
	display: block;
}
.computer ul.u_num1 li span.none{
	border-bottom: none;
}
.computer ul.u_num1 li span.cur{
	background: #02ff00;
}
.computer ul.u_num1 li span.current{
	background: #feff00;
}

.computer ul.u_num1 li.n16{
	position: relative;
}
.computer ul.u_num1 li.n1 .a1{
	border-bottom: none;
}
.computer ul.u_num1 li.n1 .a2{
	border-bottom: none;
}
.computer ul.u_num1 li.n1 .a3{
	border-bottom: none;
}
.computer ul.u_num1 li.n1 .a4{
	border-bottom: none;
}
.computer ul.u_num1 li.n2 .a1{
	border-bottom: none;
}
.computer ul.u_num1 li.n2 .a2{
	border-bottom: none;
}
.computer ul.u_num1 li.n2 .a3{
	border-bottom: none;
}
.computer ul.u_num1 li.n2 .a4{
	border-bottom: none;
}
.computer ul.u_num1 li.n3 .a1{
	border-bottom: none;
}
.computer ul.u_num1 li.n3 .a2{
	border-bottom: none;
}
.computer ul.u_num1 li.n3 .a3{
	border-bottom: none;
}
.computer ul.u_num1 li.n3 .a4{
	border-bottom: none;
}
.computer ul.u_num1 li.n4 .a1{
	border-bottom: none;
}
.computer ul.u_num1 li.n4 .a2{
	border-bottom: none;
}
.computer ul.u_num1 li.n4 .a3{
	border-bottom: none;
}
.computer ul.u_num1 li.n4 .a4{
	border-bottom: none;
}
.computer ul.u_num1 li.n5 .a1{
	border-bottom: none;
}
.computer ul.u_num1 li.n5 .a2{
	border-bottom: none;
}
.computer ul.u_num1 li.n5 .a3{
	border-bottom: none;
}
.computer ul.u_num1 li.n5 .a4{
	border-bottom: none;
}
.computer ul.u_num1 li.n6 .a1{
	border-bottom: none;
}
.computer ul.u_num1 li.n6 .a2{
	border-bottom: none;
}
.computer ul.u_num1 li.n6 .a3{
	border-bottom: none;
}
.computer ul.u_num1 li.n6 .a4{
	border-bottom: none;
}
.computer ul.u_num1 li.n7 .a1{
	border-bottom: none;
}
.computer ul.u_num1 li.n7 .a2{
	border-bottom: none;
}
.computer ul.u_num1 li.n7 .a3{
	border-bottom: none;
}
.computer ul.u_num1 li.n7 .a4{
	border-bottom: none;
}

.computer ul.u_num1 li.n8 .a1{
	border-bottom: none;
}
.computer ul.u_num1 li.n8 .a2{
	border-bottom: none;
}
.computer ul.u_num1 li.n8 .a3{
	border-bottom: none;
}
.computer ul.u_num1 li.n8 .a4{
	border-bottom: none;
}

.computer ul.u_num1 li.n9 .a1{
	border-bottom: none;
}
.computer ul.u_num1 li.n9 .a2{
	border-bottom: none;
}
.computer ul.u_num1 li.n9 .a3{
	border-bottom: none;
}
.computer ul.u_num1 li.n9 .a4{
	border-bottom: none;
}

.computer ul.u_num1 li.n10 .a1{
	border-bottom: none;
}
.computer ul.u_num1 li.n10 .a2{
	border-bottom: none;
}
.computer ul.u_num1 li.n10 .a3{
	border-bottom: none;
}
.computer ul.u_num1 li.n10 .a4{
	border-bottom: none;
}

.computer ul.u_num1 li.n11 .a1{
	border-bottom: none;
}
.computer ul.u_num1 li.n11 .a2{
	border-bottom: none;
}
.computer ul.u_num1 li.n11 .a3{
	border-bottom: none;
}
.computer ul.u_num1 li.n11 .a4{
	border-bottom: none;
}

.computer ul.u_num1 li.n12 .a1{
	border-bottom: none;
}
.computer ul.u_num1 li.n12 .a2{
	border-bottom: none;
}
.computer ul.u_num1 li.n12 .a3{
	border-bottom: none;
}
.computer ul.u_num1 li.n12 .a4{
	border-bottom: none;
}

.computer ul.u_num1 li.n13 .a1{
	border-bottom: none;
}
.computer ul.u_num1 li.n13 .a2{
	border-bottom: none;
}
.computer ul.u_num1 li.n13 .a3{
	border-bottom: none;
}
.computer ul.u_num1 li.n13 .a4{
	border-bottom: none;
}

.computer ul.u_num1 li.n14 .a1{
	border-bottom: none;
}
.computer ul.u_num1 li.n14 .a2{
	border-bottom: none;
}
.computer ul.u_num1 li.n14 .a3{
	border-bottom: none;
}
.computer ul.u_num1 li.n14 .a4{
	border-bottom: none;
}


.computer ul.u_num1 li.n15 .a1{
	border-bottom: none;
}
.computer ul.u_num1 li.n15 .a2{
	border-bottom: none;
}
.computer ul.u_num1 li.n15 .a3{
	border-bottom: none;
}
.computer ul.u_num1 li.n15 .a4{
	border-bottom: none;
}
.computer ul.u_num1 li.n16 .a1{
	position: absolute;
	left: 14px;
	top: 16px;
	margin-top: 0;
}
.computer ul.u_num1 li.n16 .a2{
	position: absolute;
	left: 14px;
	top: 39px;
}
.computer ul.u_num1 li.n16 .a3{
	position: absolute;
	left: 14px;
	top: 62px;
}
.computer ul.u_num1 li.n16 .a4{
	position: absolute;
	left: 14px;
	top: 85px;
}
.computer ul.u_num1 li.n16 .a5{
	position: absolute;
	left: 14px;
	top: 108px;
}
.computer ul.u_num1 li.n16 .a6{
	position: absolute;
	left: 73px;
	top: 16px;
	margin-top: 0;
}
.computer ul.u_num1 li.n16 .a7{
	position: absolute;
	left: 119px;
	top: 16px;
}
.computer ul.u_num1 li.n16 .a8{
	position: absolute;
	left: 165px;
	top: 16px;
}
.computer ul.u_num1 li.n16 .a9{
	position: absolute;
	left: 214px;
	top: 16px;
}
.computer ul.u_num1 li.n16 .a10{
	position: absolute;
	left: 263px;
	top: 16px;
}
.computer ul.u_num1 li.n16 .a11{
	position: absolute;
	left: 73px;
	top: 63px;
	margin-top: 0;
}
.computer ul.u_num1 li.n16 .a12{
	position: absolute;
	left: 119px;
	top: 63px;
}
.computer ul.u_num1 li.n16 .a13{
	position: absolute;
	left: 165px;
	top: 63px;
}
.computer ul.u_num1 li.n16 .a14{
	position: absolute;
	left: 214px;
	top: 63px;
}
.computer ul.u_num1 li.n16 .a15{
	position: absolute;
	left: 263px;
	top: 63px;
}
.computer ul.u_num1 li.n16 .a16{
	position: absolute;
	right: 14px;
	top: 16px;
	margin-top: 0;
}
.computer ul.u_num1 li.n16 .a17{
	position: absolute;
	right: 14px;
	top: 39px;
}
.computer ul.u_num1 li.n16 .a18{
	position: absolute;
	right: 14px;
	top: 62px;
}
.computer ul.u_num1 li.n16 .a19{
	position: absolute;
	right: 14px;
	top: 85px;
}
.computer ul.u_num1 li.n16 .a20{
	position: absolute;
	right: 14px;
	top: 108px;
}
.computer ul.u_num2 li.n18 .a1{
border-bottom: none;
border-right: none;
}
.computer ul.u_num2 li.n18 .a2{
border-bottom: none;
border-right: none;
}
.computer ul.u_num2 li.n18 .a3{
border-bottom: none;
border-right: none;
}
.computer ul.u_num2 li.n19 .a1{
border-bottom: none;
}
.computer ul.u_num2 li.n19 .a2{
border-bottom: none;
}
.computer ul.u_num2 li.n19 .a3{
border-bottom: none;
}
.computer ul.u_num2 li.n19 .a4{
border-bottom: none;
}

.computer ul.u_num2 li.n20 .a1{
border-bottom: none;
border-right: none;
}
.computer ul.u_num2 li.n20 .a2{
border-bottom: none;
border-right: none;
}
.computer ul.u_num2 li.n20 .a3{
border-bottom: none;
border-right: none;
}
.computer ul.u_num2 li.n25 .a1{
border-bottom: none;
}
.computer ul.u_num2 li.n25 .a2{
border-bottom: none;
}
.computer ul.u_num2 li.n25 .a3{
border-bottom: none;
}
.computer ul.u_num2 li.n25 .a4{
border-bottom: none;
}

.computer ul.u_num2 li.n26 .a1{
border-bottom: none;
}
.computer ul.u_num2 li.n26 .a2{
border-bottom: none;
}
.computer ul.u_num2 li.n26 .a3{
border-bottom: none;
}
.computer ul.u_num2 li.n26 .a4{
border-bottom: none;
}

.computer ul.u_num2 li.n27 .a1{
border-bottom: none;
}
.computer ul.u_num2 li.n27 .a2{
border-bottom: none;
}
.computer ul.u_num2 li.n27 .a3{
border-bottom: none;
}
.computer ul.u_num2 li.n27 .a4{
border-bottom: none;
}


.computer ul.u_num2 li.n28 .a1{
border-bottom: none;
}
.computer ul.u_num2 li.n28 .a2{
border-bottom: none;
}
.computer ul.u_num2 li.n28 .a3{
border-bottom: none;
}
.computer ul.u_num2 li.n28 .a4{
border-bottom: none;
}

.computer ul.u_num2 li.n29 .a1{
border-bottom: none;
}
.computer ul.u_num2 li.n29 .a2{
border-bottom: none;
}
.computer ul.u_num2 li.n29 .a3{
border-bottom: none;
}
.computer ul.u_num2 li.n29 .a4{
border-bottom: none;
}
.n17{
	width: 172px;
	height: 78px;
	background: #e4e6e2;
	position: absolute;
	top: 213px;
}
.n18{
	top: 300px;
	position: absolute;
	width: 172px;
	height: 78px;
	background: #e4e6e2;
}
.n19{
	top: 388px;
	left: 97px;
	position: absolute;
	width: 75px;
	height: 150px;
	background: #e4e6e2;
}
.n20{
	top: 548px;
	position: absolute;
	width: 172px;
	height: 78px;
	background: #e4e6e2;
}
.n21{
	width: 172px;
	height: 104px;
	background: #e4e6e2;
	position: absolute;
	top: 213px;
	left: 220px;
}
.n22{
	top: 327px;
	left: 220px;
	position: absolute;
	width: 172px;
	height: 78px;
	background: #e4e6e2;
}
.n23{
	top: 413px;
	left: 220px;
	position: absolute;
	width: 172px;
	height: 78px;
	background: #e4e6e2;
}
.n24{
	top: 500px;
	left: 220px;
	position: absolute;
	width: 172px;
	height: 78px;
	background: #e4e6e2;
}
.n25{
	top: 213px;
	left: 1195px;
	position: absolute;
	width: 75px;
	height: 150px;
	background: #e4e6e2;
}
.n26{
	top: 213px;
	left: 1280px;
	position: absolute;
	width: 75px;
	height: 150px;
	background: #e4e6e2;
}
.n27{
	top: 213px;
	left: 1364px;
	position: absolute;
	width: 75px;
	height: 150px;
	background: #e4e6e2;
}
/*.n28{
	top: 213px;
	left: 1195px;
	position: absolute;
	width: 75px;
	height: 150px;
	background: #e4e6e2;
}*/
.n28{
	top: 213px;
	left: 1448px;
	position: absolute;
	width: 75px;
	height: 150px;
	background: #e4e6e2;
}
.n29{
	top: 213px;
	right: 0;
	position: absolute;
	width: 75px;
	height: 150px;
	background: #e4e6e2;
}
.n30{
	top: 372px;
	left: 1266px;
	position: absolute;
	width: 258px;
	height: 113px;
	background: #e4e6e2;
}
.n31{
	top: 641px;
	left: 541px;
	position: absolute;
	width: 715px;
	height: 106px;
	background: #e4e6e2;
}
.n32{
	top: 656px;
	left: 1315px;
	position: absolute;
	width: 160px;
	height: 75px;
	background: #e4e6e2;
}
.n33{
	bottom: 0;
	left: 541px;
	position: absolute;
	width: 174px;
	height: 103px;
	background: #e4e6e2;
}
.n34{
	bottom: 0;
	left: 722px;
	position: absolute;
	width: 174px;
	height: 103px;
	background: #e4e6e2;
}
.n35{
	bottom: 0;
	left: 903px;
	position: absolute;
	width: 174px;
	height: 103px;
	background: #e4e6e2;
}
.n36{
	bottom: 0;
	left: 1084px;
	position: absolute;
	width: 174px;
	height: 103px;
	background: #e4e6e2;
}
.n37{
	bottom: 0;
	left: 1265px;
	position: absolute;
	width: 260px;
	height: 103px;
	background: #e4e6e2;
}
.n38{
	top: 212px;
	left: 457px;
	position: absolute;
	width: 657px;
	height: 50px;
	background: #e4e6e2;
}
.computer ul.u_num2 li.n38 span{
	float: left;
	border-right: none;
	margin: 13px 0;
}
.computer ul.u_num2 li.n38 span.a1{
	margin-left: 48px;
}
.computer ul.u_num2 li.n38 span:last-child{
	border-right: 1px solid #000;
}
.computer ul.u_num2 li span{
	width: 45px;
	height: 22px;
	background: #FFF;
	text-align: center;
	border: 1px solid black;
	line-height: 22px;
	color: black;
	display: block;
}
/*.computer ul.u_num2 li span.none{
	border-bottom: none;
}*/
.computer ul.u_num2 li span.cur{
	background: #02ff00;
}
.computer ul.u_num2 li span.current{
	background: #feff00;
}
.computer ul.u_num1 li span.call{
	background: #fe0000;
}
.computer ul.u_num2 li span.call{
	background: #fe0000;
}
.computer ul.u_num2 li.n17 span.a1{
	position: absolute;
	left: 13px;
	top: 28px;
	border-right: none;
}
.n17 .a2{
	position: absolute;
	left: 59px;
	top: 17px;
}
.n17 .a3{
	position: absolute;
	left: 59px;
	top: 40px;
}
.n17 .a4{
	position: absolute;
	left: 105px;
	top: 17px;
}
.n17 .a5{
	position: absolute;
	left: 105px;
	top: 40px;
}
.n18 span{
	float: left;
}
.computer ul.u_num2 li.n18 span.none{
	border-bottom: none;
	border-right: none;
}
.computer ul.u_num2 li.n18 span.a1{
	margin-left: 15px;
	margin-top: 15px;
}
.computer ul.u_num2 li.n18 span.a2{
	margin-top: 15px;
}

.computer ul.u_num2 li.n18 span.a3{
	border-right: 1px solid #000;
	margin-top: 15px;
}
.computer ul.u_num2 li.n18 span.a4{
	border-right: none;
	margin-left: 15px;
}
.computer ul.u_num2 li.n18 span.a5{
	border-right: none;
}
.computer ul.u_num2 li.n19 span{
	margin:0 auto;
}
.computer ul.u_num2 li.n19 span.a1{
	margin-top: 17px;
}

.n20 span{
	float: left;
}
.computer ul.u_num2 li.n20 span.none{
	border-bottom: none;
	border-right: none;
}
.computer ul.u_num2 li.n20 span.a1{
	margin-left: 15px;
	margin-top: 15px;
}
.computer ul.u_num2 li.n20 span.a2{
	margin-top: 15px;
}

.computer ul.u_num2 li.n20 span.a3{
	border-right: 1px solid #000;
	margin-top: 15px;
}
.computer ul.u_num2 li.n20 span.a4{
	border-right: none;
	margin-left: 15px;
}
.computer ul.u_num2 li.n20 span.a5{
	border-right: none;
}
.computer ul.u_num2 li.n21 span.a1{
	position: absolute;
	top: 17px;
	left: 39px;
}
.computer ul.u_num2 li.n21 span.a2{
	position: absolute;
	top: 17px;
	left: 85px;
}
.computer ul.u_num2 li.n21 span.a3{
	position: absolute;
	top: 40px;
	left: 39px;
}
.computer ul.u_num2 li.n21 span.a4{
	position: absolute;
	top: 40px;
	left: 85px;
}
.computer ul.u_num2 li.n21 span.a5{
	position: absolute;
	top: 62px;
	left: 39px;
}
.computer ul.u_num2 li.n21 span.a6{
	position: absolute;
	top: 62px;
	left: 85px;
}

.computer ul.u_num2 li.n22 span.a1{
	position: absolute;
	top: 24px;
	left: 14px;
}
.computer ul.u_num2 li.n22 span.a2{
	position: absolute;
	top: 15px;
	left: 60px;
}
.computer ul.u_num2 li.n22 span.a3{
	position: absolute;
	top: 15px;
	left: 105px;
}
.computer ul.u_num2 li.n22 span.a4{
	position: absolute;
	top: 38px;
	left: 60px;
}
.computer ul.u_num2 li.n22 span.a5{
	position: absolute;
	top: 38px;
	left: 105px;
}

.computer ul.u_num2 li.n23 span.a1{
	position: absolute;
	top: 15px;
	left:14px;
}
.computer ul.u_num2 li.n23 span.a2{
	position: absolute;
	top: 38px;
	left: 14px;
}
.computer ul.u_num2 li.n23 span.a3{
	position: absolute;
	top: 15px;
	left: 60px;
	z-index: 2;
}
.computer ul.u_num2 li.n23 span.a4{
	position: absolute;
	top: 38px;
	left: 60px;
	z-index: 2;
}
.computer ul.u_num2 li.n23 span.a5{
	position: absolute;
	top: 26px;
	z-index: 1;
	left: 105px;
}


.computer ul.u_num2 li.n24 span.a1{
	position: absolute;
	top: 15px;
	left:14px;
}
.computer ul.u_num2 li.n24 span.a2{
	position: absolute;
	top: 38px;
	left: 14px;
}
.computer ul.u_num2 li.n24 span.a3{
	position: absolute;
	top: 15px;
	left: 60px;
	z-index: 2;
}
.computer ul.u_num2 li.n24 span.a4{
	position: absolute;
	top: 38px;
	left: 60px;
	z-index: 2;
}
.computer ul.u_num2 li.n24 span.a5{
	position: absolute;
	top: 26px;
	z-index: 1;
	left: 105px;
}

.computer ul.u_num2 li.n25 span{
	margin:0 auto;
}
.computer ul.u_num2 li.n19 span.none{
	border-bottom: none;
}
.computer ul.u_num2 li.n25 span.none{
	border-bottom: none;
}
.computer ul.u_num2 li.n26 span.none{
	border-bottom: none;
}
.computer ul.u_num2 li.n27 span.none{
	border-bottom: none;
}
.computer ul.u_num2 li.n28 span.none{
	border-bottom: none;
}
.computer ul.u_num2 li.n29 span.none{
	border-bottom: none;
}
.computer ul.u_num2 li.n25 span.a1{
	margin-top: 17px;
}
.computer ul.u_num2 li.n26 span{
	margin:0 auto;
}
.computer ul.u_num2 li.n26 span.a1{
	margin-top: 17px;
}
.computer ul.u_num2 li.n27 span{
	margin:0 auto;
}
.computer ul.u_num2 li.n27 span.a1{
	margin-top: 17px;
}
.computer ul.u_num2 li.n28 span{
	margin:0 auto;
}
.computer ul.u_num2 li.n28 span.a1{
	margin-top: 17px;
}
.computer ul.u_num2 li.n29 span{
	margin:0 auto;
}
.computer ul.u_num2 li.n29 span.a1{
	margin-top: 17px;
}
.computer ul.u_num2 li.n30 span.a1{
	position: absolute;
	top: 22px;
	left: 15px;
}
.computer ul.u_num2 li.n30 span.a2{
	position: absolute;
	top: 22px;
	left: 60px;
}
.computer ul.u_num2 li.n30 span.a3{
	position: absolute;
	top: 22px;
	left: 105px;
}
.computer ul.u_num2 li.n30 span.a4{
	position: absolute;
	top: 22px;
	left: 150px;
}
.computer ul.u_num2 li.n30 span.a5{
	position: absolute;
	top: 22px;
	left: 195px;
}
.computer ul.u_num2 li.n30 span.a6{
	position: absolute;
	top: 67px;
	left: 15px;
}
.computer ul.u_num2 li.n30 span.a7{
	position: absolute;
	top: 67px;
	left: 60px;
}
.computer ul.u_num2 li.n30 span.a8{
	position: absolute;
	top: 67px;
	left: 105px;
}
.computer ul.u_num2 li.n30 span.a9{
	position: absolute;
	top: 67px;
	left: 150px;
}
.computer ul.u_num2 li.n30 span.a10{
	position: absolute;
	top: 67px;
	left: 195px;
}

.computer ul.u_num2 li.n31 span.a1{
	position: absolute;
	top: 26px;
	left: 15px;
}
.computer ul.u_num2 li.n31 span.a2{
	position: absolute;
	top: 26px;
	left: 86px;
}
.computer ul.u_num2 li.n31 span.a3{
	position: absolute;
	top: 26px;
	left: 132px;
}
.computer ul.u_num2 li.n31 span.a4{
	position: absolute;
	top: 26px;
	left: 178px;
}
.computer ul.u_num2 li.n31 span.a5{
	position: absolute;
	top: 26px;
	left: 224px;
}
.computer ul.u_num2 li.n31 span.a6{
	position: absolute;
	top: 26px;
	left: 298px;
}
.computer ul.u_num2 li.n31 span.a7{
	position: absolute;
	top: 26px;
	left: 344px;
}
.computer ul.u_num2 li.n31 span.a8{
	position: absolute;
	top: 26px;
	left: 418px;
}
.computer ul.u_num2 li.n31 span.a9{
	position: absolute;
	top: 26px;
	left: 464px;
}
.computer ul.u_num2 li.n31 span.a10{
	position: absolute;
	top: 26px;
	left: 536px;
}
.computer ul.u_num2 li.n31 span.a11{
	position: absolute;
	top: 26px;
	left: 582px;
}
.computer ul.u_num2 li.n31 span.a12{
	position: absolute;
	top: 26px;
	left: 628px;
}
.computer ul.u_num2 li.n31 span.a13{
	position: absolute;
	top: 49px;
	left: 15px;
}
.computer ul.u_num2 li.n31 span.a14{
	position: absolute;
	top: 49px;
	left: 298px;
}
.computer ul.u_num2 li.n31 span.a15{
	position: absolute;
	top: 49px;
	left: 344px;
}
.computer ul.u_num2 li.n31 span.a16{
	position: absolute;
	top: 49px;
	left: 418px;
}
.computer ul.u_num2 li.n31 span.a17{
	position: absolute;
	top: 49px;
	left: 464px;
}
.computer ul.u_num2 li.n32 span{
	margin:0 auto;
	margin-top: 25px;
}
.computer ul.u_num2 li.n33 span.a1{
	position: absolute;
	top: 29px;
	left: 15px;
}
.computer ul.u_num2 li.n33 span.a2{
	position: absolute;
	top: 29px;
	left: 61px;
}
.computer ul.u_num2 li.n33 span.a3{
	position: absolute;
	top: 40px;
	left: 107px;
}
.computer ul.u_num2 li.n33 span.a4{
	position: absolute;
	top: 52px;
	left: 15px;
}
.computer ul.u_num2 li.n33 span.a5{
	position: absolute;
	top: 52px;
	left: 61px;
}

.computer ul.u_num2 li.n34 span.a1{
	position: absolute;
	top: 40px;
	left: 15px;
}
.computer ul.u_num2 li.n34 span.a2{
	position: absolute;
	top: 29px;
	left: 61px;
}
.computer ul.u_num2 li.n34 span.a3{
	position: absolute;
	top: 52px;
	left: 61px;
}
.computer ul.u_num2 li.n34 span.a4{
	position: absolute;
	top: 29px;
	left: 105px;
}
.computer ul.u_num2 li.n34 span.a5{
	position: absolute;
	top: 52px;
	left: 105px;
}


.computer ul.u_num2 li.n35 span.a1{
	position: absolute;
	top: 19px;
	left: 63px;
}
.computer ul.u_num2 li.n35 span.a2{
	position: absolute;
	top: 40px;
	left: 41px;
}
.computer ul.u_num2 li.n35 span.a3{
	position: absolute;
	top: 40px;
	left: 87px;
}
.computer ul.u_num2 li.n35 span.a4{
	position: absolute;
	top: 63px;
	left: 41px;
}
.computer ul.u_num2 li.n35 span.a5{
	position: absolute;
	top: 63px;
	left: 87px;
}



.computer ul.u_num2 li.n36 span.a1{
	position: absolute;
	top: 19px;
	left: 63px;
}
.computer ul.u_num2 li.n36 span.a2{
	position: absolute;
	top: 40px;
	left: 41px;
}
.computer ul.u_num2 li.n36 span.a3{
	position: absolute;
	top: 40px;
	left: 87px;
}
.computer ul.u_num2 li.n36 span.a4{
	position: absolute;
	top: 63px;
	left: 41px;
}
.computer ul.u_num2 li.n36 span.a5{
	position: absolute;
	top: 63px;
	left: 87px;
}


.computer ul.u_num2 li.n37 span.a1{
	position: absolute;
	top: 22px;
	left: 15px;
}
.computer ul.u_num2 li.n37 span.a2{
	position: absolute;
	top: 22px;
	left: 60px;
}
.computer ul.u_num2 li.n37 span.a3{
	position: absolute;
	top: 22px;
	left: 105px;
}
.computer ul.u_num2 li.n37 span.a4{
	position: absolute;
	top: 22px;
	left: 150px;
}
.computer ul.u_num2 li.n37 span.a5{
	position: absolute;
	top: 22px;
	left: 195px;
}
.computer ul.u_num2 li.n37 span.a6{
	position: absolute;
	top: 67px;
	left: 15px;
}
.computer ul.u_num2 li.n37 span.a7{
	position: absolute;
	top: 67px;
	left: 60px;
}
.computer ul.u_num2 li.n37 span.a8{
	position: absolute;
	top: 67px;
	left: 105px;
}
.computer ul.u_num2 li.n37 span.a9{
	position: absolute;
	top: 67px;
	left: 150px;
}
.computer ul.u_num2 li.n37 span.a10{
	position: absolute;
	top: 67px;
	left: 195px;
}
.img .img1{
	position: absolute;
	top: 752px;
	left: 0;
}
.information{
	position: absolute;
    top: 642px;
    left: 0px;
    width: 391px;
    height: 90px;
    background: #e4e6e2;
}
.information span{
	display: block;
	width: 50%;
	font-size: 16px;
	float: left;
	text-align: center;
	margin-top: 8px;
	font-weight: bold;
}
.box{
	width: 780px;
	height: 418px;
	background: #2a3757;
	/*position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -218px;
	margin-left: -390px;*/
}
li span{
	cursor: default;
}
li span.cur{
	cursor: pointer;
}
.box{
	display: none;
}
.box .box_cn{
	width: 744px;
	height: 400px;
	background: #daffda;
	margin:0 auto;
}
.box .box_cn h1{
	width: 100%;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-weight: bold;
	background: #02ff00;
}
.box .box_cn .cn span{
	display: block;
	width: 484px;
	margin:0 auto;
	font-size: 20px;
	margin-top: 18px;
}

.layui-layer-btn{
	text-align: center!important;
}