
body {
    font: medium/150% "Lucida Grande", sans-serif;
    margin: 0; padding: 0 0 10px;
    color: #333; background: #fff;
}
a img { border: 0; }
h1 {
    color: #fff;
    margin: 0;
    height: 40px;
    line-height: 40px;
    text-shadow: 0px 1px 2px #000;
    background: #1872ce url(images/header_blue.png) repeat-x;
    border-top: 1px solid #1872ce;
    border-bottom: 1px solid #1c477f;
    font-size: large;
    padding-left: 10px;
}
h2 {
    font-size: 1.5em;
    text-indent: -40px;
}
h2.th {
    font-size: 1.5em;
    text-indent: 0px;
}
h3 {
    font-size: 1em;
    text-indent: -20px;
}
h4 {
    font-size: 0.8em;
}
body.error h1 {
    background: #d70000;
    border-bottom: 1px solid #7f0000;
}
hr {
  color: #888; background-color: #888;
  height: 1px; width: 100%;
  border: 0;
}
code { font-size: 1.2em; }
img.float_right { float: right }
img.float_left { float: left }
pre.condensed { font-size: 0.8em; line-height: 1.5em; }

.igraphlogo {
    float: right;
    padding-left: 40px;
    padding-right: 40px;
    padding-top:30px;
}

div.main {
    max-width:900px;
    padding-left: 50px;
    padding-bottom: 50px;
    margin-right: 0;
}
.more {
    text-align: right;
    margin-top: -1em;
}
.back {
    text-align: left;
}

ul.no-bullet {
  list-style-type: none;
  padding: 0; margin: 0;
}
ul.no-bullet li {
  padding: 0; margin: 0;
}
li.download {
  line-height: 1em;
  padding-bottom: 10px !important;
}
li.download .name {
  font-weight: bold;
  padding-left: 20px;
}
li.download span.comment {
  font-size: 0.8em;
  color: #888;
}
li.download div.comment {
  font-size: 0.8em;
  padding: 4px 0px 0px 20px;
}
p.comment {
  font-size: 0.8em;
  color: #888;
}
div.image_caption {
  font-size: 0.8em;
  color: #888;
  text-align: center;
}
li.download-c {
  background: url(images/icon_c.png) no-repeat 0px 0px;
}
li.download-sf {
  background: url(images/icon_sf.png) no-repeat 0px 0px;
}
li.download-r {
  background: url(images/icon_r.png) no-repeat 0px 0px;
}
li.download-python {
  background: url(images/icon_python.png) no-repeat 0px 0px;
}
li.download-ruby {
  background: url(images/icon_ruby.png) no-repeat 0px 0px;
}
li.download-doc {
  background: url(images/icon_documentation.png) no-repeat 0px 0px;
}
li.download-wiki {
  background: url(images/icon_wiki.png) no-repeat 0px 0px;
}
ul.download-links {
  list-style-type: none;
  padding: 2px 0 0 20px; margin: 0;
  font-size: 0.8em;
}
ul.download-links li {
  padding: 0px 10px 0px 0px; margin: 0;
  padding-bottom: 5px !important;
}
ul.download-links li.download-source {
  background: url(images/icon_source.png) no-repeat 0px 0px;
  padding-left: 18px;
}
ul.download-links li.download-sf {
  background: url(images/icon_sf.png) no-repeat 0px 0px;
  padding-left: 18px;
}
ul.download-links li.download-windows {
  background: url(images/icon_windows.png) no-repeat 0px 0px;
  padding-left: 18px;
}
ul.download-links li.download-debian {
  background: url(images/icon_debian.png) no-repeat 0px 0px;
  padding-left: 18px;
}
ul.download-links li.download-osx {
  background: url(images/icon_osx.png) no-repeat 0px 0px;
  padding-left: 18px;
}
ul.download-links li.download-html {
  background: url(images/icon_html.png) no-repeat 0px 0px;
  padding-left: 18px;
}
ul.download-links li.download-external {
  background: url(images/icon_links.png) no-repeat 0px 0px;
  padding-left: 18px;
}
ul.download-links li.download-wiki {
  background: url(images/icon_wiki.png) no-repeat 0px 0px;
  padding-left: 18px;
}
ul.download-links li.download-pdf {
  background: url(images/icon_pdf.png) no-repeat 0px 0px;
  padding-left: 18px;
}
ul.download-links li.download-html {
  background: url(images/icon_html.png) no-repeat 0px 0px;
  padding-left: 18px;
}
ul.download-links li.download-info {
  background: url(images/icon_info.png) no-repeat 0px 0px;
  padding-left: 18px;
}

a { color: #00f; text-decoration: none }
a:visited { color: #00c }
a:hover { color: #00f; text-decoration: underline }
h1 a, h1 a:visited, h1 a:hover { color: #fff; text-decoration: none }
h2 a, h2 a:visited, h2 a:hover { color: #000; text-decoration: none }
h3 a, h3 a:visited, h3 a:hover { color: #000; text-decoration: none }

#sourceforge_logo {
  float: right;
  padding: 3px 15px 0px 0px;
}

/* Menu items */
ul.menu {
  list-style-type: none;
  padding: 0; margin: 0;
}
ul.menu-upper {
  list-style-type: none;
  padding: 0px 0px 0px 15px; margin: 0;
  margin-top: 10px;
  width: 95%;
  border-bottom: 1px solid;
  text-align: left;
}
ul.menu li {
  padding: 0px 10px 10px 20px;
  margin: 0px;
}
ul.menu-upper li {
  padding: 8px 10px 4px 25px;
  font-size: 0.8em;
  border: solid;
  border-width: 1px 1px 1px 1px;
  margin: 0px 0px 0px 0px;
  display: inline;
}
ul.menu-upper li:hover {
  border-top: solid 2px #0000ff;
  border-left: solid 2px #0000ff;
  border-right: solid 2px #0000ff;  
}
ul li.item-introduction {
  background: #dadaff url(images/icon_info.png) no-repeat 5px 6px;
}
ul li.item-download {
  background: #dadaff url(images/icon_download.png) no-repeat 5px 6px;
}
ul li.item-news {
  background: #dadaff url(images/icon_news.png) no-repeat 5px 6px;
}
ul li.item-documentation {
  background: #dadaff url(images/icon_documentation.png) no-repeat 5px 6px;
}
ul li.item-wiki {
  background: #dadaff url(images/icon_wiki.png) no-repeat 5px 6px;
}
ul li.item-screenshots {
  background: #dadaff url(images/icon_screenshots.png) no-repeat 5px 6px;
}
ul li.item-community {
  background: #dadaff url(images/icon_community.png) no-repeat 5px 6px;
}
ul li.item-bug {
  background: #dadaff url(images/icon_bug.png) no-repeat 5px 6px;
}
ul li.item-links {
  background: #dadaff url(images/icon_links.png) no-repeat 5px 6px;
}
ul li.item-license {
  background: #dadaff url(images/icon_license.png) no-repeat 5px 6px;
}
body#index li#n-index {
    background: #ffffff url(images/icon_info.png) no-repeat 5px 6px;
    border-bottom: 1px solid #ffffff;
}
body#news li#n-news {
    background: #ffffff url(images/icon_news.png) no-repeat 5px 6px;
    border-bottom: 1px solid #ffffff;
}
body#download li#n-download{
    background: #ffffff url(images/icon_download.png) no-repeat 5px 6px;
    border-bottom: 1px solid #ffffff;
}
body#documentation li#n-documentation{
    background: #ffffff url(images/icon_documentation.png) no-repeat 5px 6px;
    border-bottom: 1px solid #ffffff;
}
body#screenshots li#n-screenshots{
    background: #ffffff url(images/icon_screenshots.png) no-repeat 5px 6px;
    border-bottom: 1px solid #ffffff;
}
body#support li#n-support{
    background: #ffffff url(images/icon_community.png) no-repeat 5px 6px;
    border-bottom: 1px solid #ffffff;
}
body#bugs li#n-bugs{
    background: #ffffff url(images/icon_bug.png) no-repeat 5px 6px;
    border-bottom: 1px solid #ffffff;
}
body#license li#n-license {
    background: #ffffff url(images/icon_license.png) no-repeat 5px 6px;
    border-bottom: 1px solid #ffffff;
}

/* Forms */
label {
  display: block;
  float: left;
  width: 130px;
  font-weight: bold;
}
label.normal {
  color: #444;
}
div.explanation {
  border-left: 130px solid white;
  font-size: 0.8em;
  color: #888;
}
.programlisting 
{
  background: #eeeeff;
  border: solid 1px #4444ff;
  padding: 0.5em;
}
p.news
{
  padding: 0px 40px 0px;
}
h4.news
{
  padding: 0px 40px 0px;
}
ul.newslist
{
  padding: 0px 60px 0px;
}
table.intro td {
  vertical-align: top;
  width: 33.3%;
  padding: 20px;
}
div.feed {
  width: 100%;
  padding: 20px;
}
div.feedburnerFeedBlock p.feedTitle { 
    font-size: 1em;
}
div.feedburnerFeedBlock a { 
    color: black;
}
div.feedburnerFeedBlock ul a { 
    color: #00f; text-decoration: none
}
div.feedburnerFeedBlock { 
    font-size: 1em;
}
div.feedburnerFeedBlock ul { 
  list-style-type: none;
}
div.feedburnerFeedBlock ul li { 
    margin-top: 10px;
}
div.feedburnerFeedBlock p.date {
    font-style: italic;
    font-size: 0.8em;
    margin: 5px;    
}
div.feedburnerFeedBlock p.date:before {
    content: "(";
}
div.feedburnerFeedBlock p.date:after {
    content: ")";
}
div.feedburnerFeedBlock span, span+p {display:inline}
div.feed span.headline {
    font-size: 1.25em;
}
#creditfooter {
    float: right;
}
div.feedburnerFeedBlock table {
    table-layout: fixed;
    width: 100%;
}
div.quick-menu {
    position:fixed;
    bottom:0;
    width: 100%;
}
div.quick-menu ul.menu-bottom {
    padding: 5px;
    border-top: 1px solid #0000a0;
    text-align: center;
    background: #dadaff;
}
ul.menu-bottom {
  list-style-type: none;
  padding: 0px 0px 0px 15px; margin: 0;
}
ul.menu-bottom li {
  padding: 8px 10px 10px 25px;
  font-size: 0.8em;
  margin: 0px;
  display: inline;
}
div.copyright {
    border-top: 1px solid #8e8e8e;
    text-align: center;
    color: #8e8e8e;
    padding-top: 10px;
    padding-bottom: 50px;
}